; Roystan Vasey Bottom to top of second pitch

;Date: 30/07/01
;Instruments: Pete Jurd
;Book: Ceri Dunno

;Data entered by Ben Ogborne on 05/08/01

;data normal bcra grade 5
;from	to	tape	comp	clino

*begin roystan1

2	1	1.82	292	-24	;stn1 is cairn at bottom of last pitch
2	3	6.52	054	79
3	4	4.18	019	47
4	5	4.22	-	down
4	6	4.40	-	up	;stn6 is knot at top of 2nd pitch

*end roystan1
