; System Migovec 
; (c) 1994 - 1997 Imperial College Caving Club&JSPDT
; Surveyed to BCRA Grade 5b
;podor v stari jami

;Date: 26÷27/07/01
;Instruments: Tivadar Tomaz
;Book: Kragelj Tomaz

;Data entered by Tivadar on 28/07/01

;data normal bcra grade 5

;from	to	tape	comp	clino
	
*equate  podor.1	prima2.28

*begin podor

2	1	6.1	358	35
3	2	2.9	203	10
4	3	2.9	202	-15
5	4	2.2	189	-13
6	5	3.3	249	1
7	5	2.7	67	65
8	7	1.6	344	38
9	8	4.9	259	7	;toc 9 PSS

*end podor

