;below elephant chamber

;Date: 5/8/98
;Instruments: C Carroll
;Book: J Hooper

;Data entered by J Hooper on 7/8/98

;data normal bcra grade 5
;from	to	tape	comp	clino

*equate elephant.1 bosh.1

*begin bosh
*date 1998.08.05

1	2	2.88	063	-04	
2	3	5.15	057	-43
3	4	25.81	-	down	;4 is base of pitch
5	4	10.19 	032	01
5	6	11.42	257	-42	;6 is a bolt

*end bosh
