;chocolate mousse extensions off Elephant

;Date: 3/8/98
;Instruments: K Atherton
;Book: C Griffith

;Data entered by J Hooper on 4/8/98

;data normal bcra grade 5
;from	to	tape	comp	clino

*equate elephant.10 mousse.1

*begin mousse

1	2	2.45	114	-11
2	3	5.90	168	-19
3	4	0.98	327	-50
4	5	3.41	245	-29
5	6	5.44	267	-25
6	7	2.54	286	-19

*end mousse

