;Surface2, surface survey from M18 to Bens Crap Lead BCL

;Date: 13/7/00
;Instruments: Pete Jurd
;Book: Ben Ogborne

;Data entered by Ben + Tetley on 13/7/00

;data normal bcra grade 5
;from	to	tape	comp	clino


*begin s2

M18	1	35.90	044	-10	;station M18 is red dot at M18
2	1	17.90	268	+37
3	2	25.30	294	+11.5
3	4	30.05	056	-62.5
4	GW	19.08	344.5	-34.5	;station GW is half bolt hole  at entrance of BCL.

*end s2


