;Surface3, surface survey down upper part of cliff

;Date: 14/7/00
;Instruments: Tom Ayles
;Book: James Hooper

;Data entered by CG on 14/7/00

;data normal bcra grade 5
;from	to	tape	comp	clino


*begin s3

2	UB	1.97	153	-60	;stn UB is bolt at U-bend cave entrance
3	2	30.52	185	-40
3	4	29.56	039	42
5	4	23.97	207	-38
5	6	15.41	070	35	;stn 6 is cairn

*end s3
