; System Migovec 
; (c) 1994 - 1997 Imperial College Caving Club
; Surveyed to BCRA Grade 5b

;challenger pitch

;Date: 7/8/97
;Instruments: t wright
;Book: alva gossen

;Data entered by j hooper on 7/8/97

;data normal bcra grade 5
;from	to	tape	comp	clino

*equate exhib.27 challenge.7

*begin challenge
*date 1997.08.07

2	1	12.50	-	down
3	2	4.71	140	-18
3	4	15.00	329	-35
5	3	7.44	203	-60
6	5	6.86	310	-77
7	6	4.03	010	-05 

*end challenge
