; System Migovec 
; (c) 1994 - 1997 Imperial College Caving Club
; Surveyed to BCRA Grade 5b

;System Mig - Section below hotel including Glory Boys, Rameses, Fa999, Wonder Stuff and Good Not Grand

*begin coldfeet
    *date 1997.07
    *calibrate compass -1.38

    *include pinkp
	*include coldfeet
	*include doh
	*include god
	*include deep
	*include glory
	*include fa999
	*include rameses
	*include sinners
	*include teoti
	*include wonder
	*include sifon
*end coldfeet
