;Jailbreak cave, B97 of blowing holes cave
 *begin jailbreak

;EXPO 2013
*date 2013.07
	*include isengard		; 22.07.13 Rhys + Dave KP + Chris K
	*include thebarrows		; 23.07.13 Rhys + Dave KP + Chris K
	
*end jailbreak

*entrance isengard.11
