; System Migovec 
; (c) 1994 - 1997 Imperial College Caving Club
; Surveyed to BCRA Grade 5b

;head of galactica to chamber

;Date: 4/8/97
;Instruments: s wingrove
;Book: m evans

;Data entered by j hooper on 4/8/97

;data normal bcra grade 5
;from	to	tape	comp	clino

*equate galact1.8 galact2.10

*begin galact2

2	1	26.96	111	-42
3	2	4.50	111	00
3	4	19.35	-	up
5	4	2.25	111	00
5	6	8.45	-	up
6	7	17.62	-	up
8	7	2.66	198	-41
9	8	5.20	200	04
10	9	11.21	154	05	

*end galact2

