; System Migovec 
; (c) 1994 - 1997 Imperial College Caving Club
; Surveyed to BCRA Grade 5b

;Ta Moka pitch


;Date: 26/7/97
;Instruments: Oliver Mann
;Book: Jim Evans

;Data entered by J.Hooper on 29/7/97

;data normal bcra grade 5
;from	to	tape	comp	clino

*equate shordrop2.6 tamoka.1

*begin tamoka

1	2	3.03	220	-15	;1 is first bolt on Ta Moka pitch
2	3	54.9	-	down	;2 is bolt at pitch head

					;3 is at bottom of free hang

*end tamoka
