;Surface survey from the Freezer to Gardeners World

;Date: 05/08/01
;Instruments: Ed Austin
;Book: Hugh Penney

;Data entered by Ben Ogborne on 06/08/01

;data normal bcra grade 5
;from	to	tape	comp	clino

*begin sFR_GW

2	FR	5.70	234	-21	;stnFR is Freezer pss (black mark on roof of lower entrance)
3	2	30.00	016	-23
4	3	10.20	352	-16
5	4	10.85	088	05
GW	5	4.00	101	16	;GW is half bolt hole in Gardeners World

*end sFR_GW
