;Rift from oxbow near sump
;Date: 4/8/04
;Comp+Clino: Mark Evens
;Tape: Jim Evens
;Book: Dave Wilson

;Data entered by Jarvist Frost on 4/8/04

;data normal bcra grade 4
;from	to	tape	comp	clino

*begin hoover

;page one
2	1	15.3	349	+30
2	3	12.75	175	-7
3	4	6.70	188	-9
4	5	9.45	222	-17

*end hoover

*equate hoover.5 colarado.4


	
