;the following data is purely fictitious (needs to be surveyed in 2004)
;Date: 
;Instruments: 
;Book:

;Data entered by J Hooper 14 Aug 2003

;data normal bcra grade 4
;from	to	tape	comp	clino

*equate gold.16 madeupleg.1

*begin madeupleg

1	2	40	330	+10


*end  madeupleg