; > Jackie's 

;Data of unknown age, believed to be 94-96. Rediscoverd from Jim's harddrive & tied into main survex JMF 2010-07-14

;*prefix \Jacko
;*fix \Jacko.23 116 889 1840

*entrance B9.23
*begin B9

1       2        8.2     -      up
2       3        1.0    026     +50
3       4        1.8    130     +05
4       5        8.3    002     +19
4       6        7.6    182     -25
6       7        5.7    322     -30
6       8        5.6     -      up
;
9       10       2.7    000     +00
9       11       2.0    145     -20
11      12       7.5     -      up
12      13       1.9    040     +00
13      14       5.0    330     +05
8       14        2.0    160     +00
;
4       15       2.1    155     +00
15      16       7.1     -      up
16      17       4.1    335     +40
17      18       5.7    049     +50
18      19       2.7    068     -23
19      20       7.0    178     -21
19      21       7.6    335     +29
21      22       6.0    033     +40
21      23      17.4    030     +70
;
13      24       6.7    132     +85
24      25       3.3    166     +00
25      26       1.0    166     +00
26      27       2.6     -      down
27      28       2.4    184     +00
28      29       3.6    152     +17
29      30       2.4    085     +21
30      31       1.9    084     +00
30      32       6.7    143     -35
30      33       6.2    177     -32
30      34       5.8    210     -24

*end B9
