;M6 repush, resurvey 2007

;Date: 27/7/07 (ish)
;Instruments: James 'Tetley' Hooper
;Book: Ben Banfield

;Data entered by Jarvist Frost 3/8/07

;data normal bcra grade 5
;from	to	tape	comp	clino

*entrance M6.0
*begin M6
0	1	8.03	301	-14	; .0 is cain near pitch .1 is bolt for pitch hang
1	2	18.61	-	down
3	2	7.87	048	+57
4	3	24.75	075	+85
4	5	18.00	145	-45	
5	6	3.00	-	down
7	4	17.03	143	-38
7	8	20.86	180	-39
*end M6
