;Ubend cave file to combine all legs

;Date: 2/8/00

;*equate ubend2.5	 surf.00.s3.ub

*begin s_ubend
*date 2000

;*fix ubend2.5	5404590	5123750	1779

*entrance ubend2.5

*include ubend
*include ubend2
*include ubend3

*end s_ubend

