;Ubend near Pri Madoni

;Date: 28/7/00
;Instruments: Andrew Jurd
;Book: Hugh Penney

;Data entered by CG 28/7/00

;data normal bcra grade 5
;from	to	tape	comp	clino

;*fix Ubend2.5	404590.55	123750.23	1779.17

*equate Ubend2.1	Ubend.6

*begin ubend2

1	2	3.90	328	-7
2	3	1.58	335	-1
3	4	4.25	323	10
4	5	10.96	-	up

*end ubend2


