;chamber off top of always the sun

;Date: 5/8/98
;Instruments: C Carroll
;Book: J Hooper

;Data entered by J Hooper on 7/8/98

;data normal bcra grade 5
;from	to	tape	comp	clino

*equate arrow.6 sajeta.13

*begin arrow
*date 1998.08.05
1	2	16.98	138	-51	;2 is pss on boulder
3	2	22.37	017	-11
4	3	6.78	301	-33	;4 IS PSS CENTRE OF BLACK CROSS
1	5	3.01	261	-12
6	5	6.67	148	27

*end arrow
