;####Isengard####:
;###First pitch of B97 "Jailbreak"###
*date 2013.7.22 ; Expedition Z Miga Na Kuk

;Tape + Instruments: Dave Kirkpatrick
;Book: Rhys Tyers

;Data entered by David Kirkpatrick / Rhys Tyers on 2013.07.24

*begin isengard
*data normal from to tape compass clino ignoreall
;data normal bcra grade 5
;from   to      tape    comp    clino; L R U D
;Data on 1 pages
;Page 1/1
1	2	3.00	238	+23
2	3	10.00	281	+54
3	4	1.90	175	-35
4	5	7.28	149	+41
5	6	4.25	132	+9
6	7	8.02	217	+63
7	8	4.62	153	+73
8	9	1.98	213	-2
9	10	1.91	240	+2
10	11	2.89	261	+41
	
;NOTES 
;station 1 is Pss in chamber
;station 11 is pss in entrance chamber

;LRUD Data as below - introduce a new *data line if there's breaks in the survey
;*data passage station left right up down ignoreall

*end isengard
