;Skalar extensions off exhibition road
;Date: 21/7/99
;Instruments: H Hunt-Grubbe
;Book: A Jurd

;Data entered by A Jurd on 22/7/99

;data normal bcra grade 5
;from	to	tape	comp	clino

*equate skalar.1 skalar2.1

*begin skalar2
*date 1999.07.21

1	2	6.0	070	-15	;stn 1 is a pss cairn at bottom of pitch
2	3	4.0	164	-13
3	4	2.5	135	-9
5	4	1.6	280	-75
5	6	3.0	120	+5	;stn 6 is pitch head
6	7	12.9	-	down	;stn 7 is a pss cairn at bottom of pitch

*end skalar2

