;nova jama "Berti"
;JAMO JE TREBA SE ZMERIT

;Date: 29/7/2001
;Instruments: Tivadar Tomaz
;Book: Jelincic Martin
;Data entered by Tivadar on 29.7.2001

*entrance berti.1	
;*fix berti.1   	5404376 	5124216  	1724
;*fix berti.1 	5404783		5124006		1850	;po poligonu

*begin berti

1	2	15	0	-90	;mera je izmišljena
2	3	10	90	0
3	4	10	0	0
*end berti

