;poligon
;nova jama "Berti"

;TEST Lokacija Bertija
;JAMO JE TREBA SE ZMERIT

*entrance testB.1
*fix testB.1   5404381.62 5124251.70  1713.12

*begin testB

1	2	15	0	-90	;mera je izmisljena
1	3	5	90	0
1	4	5	0	0
*end testB

