;Hardy pitch, following pitch and rift in Gardener's World (aka BCL)

;Date: 21/7/00
;Instruments: M McGowan, B Ogborne
;Book: J Hooper

;Data entered by J Hooper on 21/7/00

*equate bclent2.15	hardy.1

*begin hardy

;data normal bcra grade 5
;from	to	tape	comp	clino

1	2	13.07	337	-31	;stn 1 is bclent.1 (and laurel.18)
4	3	1.50	188	00	;stn 3 is a bolt
5	4	8.90	240	-34
6	5	16.40	268	-73
2	6	4.78	257	-15

*end hardy