;Name Hunger Series

;Date: 05/08/01
;Instruments: Adrian Hooper
;Book: Martin Mc Gowan

;Data entered by Adrian Hooper

;data normal bcra grade 5
;from	to	tape	comp	clino


;*equate Hunger.6	Laurel.1
;See judge.svx for correction to this; Jarv 18-8-08
*equate Hunger.6       judge.17

*begin Hunger
1	2	3.91	200	5
2	3	3.49	175	-67
4	3	7.39	043	28
4	5	3.15	193	13
6	5	6.56	-	up
*end Hunger
