;Name Prisoners of Azkaban	

;Date: 05/08/01
;Instruments:Adrian Hooper
;Book:Martin Mc Gowan

;Data entered by Adrian Hooper

;data normal bcra grade 5
;from	to	tape	comp	clino

*equate	Prisoners.4	Judge.12

*begin Prisoners	
2	1	16.4	-	down
3	2	3.47	178	-52
4	3	4.24	063	-64	;station 4 is station 12 in judge
*end Prisoners
