;Smashed Swede

;Date: 05/08/07
;Instruments: Andrew Jurd
;Book: Andrew Jurd

;Data entered by Andrew Jurd on 05/08/07

;data normal bcra grade 4
;from	to	tape	comp	clino

*equate smashed_swede.1	bclent2.15

*begin smashed_swede

1	2	13.60	332	+13		;stn1 is pss on top of boulder (bcl1/laurel18) resurveyed as bclent2.15
						;stn2 is uppermost bolt of traverse

*end smashed_swede
