;urinal, Passage below laurel in Gardeners World (BCL)

;Date: 20/7/00
;Instruments: Pete Jurd
;Book: Ben Johnson

;Data entered by Ben + Ben Ogborne on 20/7/00

;data normal bcra grade 5
;from	to	tape	comp	clino

*equate laurel.1 urinal.9

*begin urinal

1	2	6.50	091	+03	;Station 1 is cairn near pitch
2	3	6.90	-	up
3	4	4.05	048	+53
5	4	4.45	235	+35
5	6	3.46	-	up
6	7	3.65	064	+53
8	7	3.11	116	-42
8	9	3.80	240	+18	;Station 9 is PSS cairn at end of passage or survey 1 on laurel

*end urinal
