;first half of pitch below skynet (called Zimmer)
;Date: 8/08/01 
;Instruments: Mark Evans, Iain McKenna
;Book: Jim Evans

;Data entered by J Hooper on 9/8/01

;data normal bcra grade 4
;from	to	tape	comp	clino


*begin zimmer

1	2	2.40 	084	05
2	3	30.00	-	down	;(it really is 30.00m!) stn 3 is carbide mark on ledge	

*end zimmer

*equate skynet.1 	zimmer.1
