;Vilinska Jama entrance
;Date: 29/7/2008
;Instruments: Dan Greenwald
;Book: James 'Tetley' Hooper

;Data entered by DG / JMF

;data normal bcra grade 4
;from	to	tape	comp	clino

*begin breakitdown 
2	1	4.62	342	+24
2	3	3.39	104	+37
3	4	1.99	071	+36
4	5	1.93	155	+24
5	6	16.70	105	+47
6	7	3.30	106	+67 ; (Clino is 'probably')
8	7	5.12	264	-36
8	9	3.60	107	+03

;.1 is PSS at top of pitch
;.5 is PSS
;.9 is Vilanent.21 (PSS)
*end breakitdown
