;Surface6, surface survey from East Pole Region to Hairdryer

;Date: 20/7/00
;Instruments: Martin McGowan
;Book: Michael Rogerson

;Data entered by Ben 20/7/00

;data normal bcra grade 5
;from	to	tape	comp	clino


*begin s6

1	2	30.56	220	12	;station 1 is PSS at end of surface5 survey
3	2	22.25	356	-15
4	3	20.82	085	-30
4	HD	28.31	279	38	;stationHD is hammered corner of rockface between large and small entrances

*end s6
