;Name Falls Rd.

;Date:10/8/01
;Instruments:Martin Mc Gowan
;Book:Dave Wilson

;Data entered by MartinMc Gowan and corrected by CG.
 
;data normal bcra grade 5
;from	to	tape	comp	clino
*equate fallsrd.1 Friend.4
*begin fallsrd
2	1	7.15	222	30
2	3	4.75	222	-43
3	4	2.90	-	down
4	5	0.50	320	0
5	6	10.28	-	down;Station5 is a bolt.
6	7	6	240	0
*end fallsrd
