;Survey of the Freezer cave below Gardeners World

;Date: 05\08\01
;Instruments: Ed Austin
;Book: Hugh Penney

;Data entered by Ben Ogborne on 06\08\01

;data normal bcra grade 5

;from	to	tape	comp	clino

;*fix	freezer.FR	5405120	5124020	1780

*entrance freezer.FR
*begin freezer

2	1	8.60	210	-33	;stn1 is start of boulder choke
3	2	5.10	245	-38
4	3	1.70	290	-60	;stn4 is maillon from thread
FR	4	6.23	202	-18	;stnFR is entrance black mark on crawl

*end freezer
