;Glavobol : below Ma je vlažna

;Date: 29/07/2021

;Instruments / Book: Izi

;from	to	tape	comp	clino

*begin glavobol

1	2	11	175	+35	;	0.5 0 2 3	; .1 is PSS Glavobol
2	3	3.9	281	+37	;	1.5 1 5 0 
3	4	9.5	 0	+90	;	5 2 0 0.5
4	5	1	240	+5	; 	1 0 10 9.5	; .5 is STN .1 Ma je vlažna 


*end Glavobol

