; System Migovec 
; (c) 1994 - 1997 Imperial College Caving Club
; Surveyed to BCRA Grade 5b

;hole in roof off gloryboys

;Date: 14/8/97
;Instruments: m rogerson
;Book: j evans

;Data entered by j hooper on 15/8/97

;data normal bcra grade 5
;from	to	tape	comp	clino

*equate glory.11 sinners.0

*begin sinners
*date 1997.08.14
1	2	2.65	-	up	;2 is a pss
3	2	4.82	103	09
4	3	5.73	117	03	;4 is a pss carbide mark

1	0	2.52	046	23	;1 was a mars bar!

*end sinners
