;survey down bottom of swing to top of officer's club

;Date: 2/08/01
;Instruments: Clewin Griffith
;Book: Helen Jones
;Tape: Ed Austin

;Data entered by J Hooper on 4/08/01

;data normal bcra grade 4
;from	to	tape	comp	clino

*equate chariot.7	pico2.4

*begin chariot

1	2	4.65	348	15	;stn 1 backup bolt at top of Officer's club
2	3	2.70	012	34
3	4	4.90	309	01
4	5	3.78	350	37
5	6	4.72	334	79
6	7	2.95	101	45	;stn 7 is first relay down swing


*end chariot
