;rift after pitch below pico pot

;Date: 28/7/00
;Instruments: Clewin Griffith
;Book: Andrew Jurd

;Data entered by CG on 30/7/00

;data normal bcra grade 5
;from	to	tape	comp	clino


*begin pico2

1	2	13.03	349	-1	; stn 1 is pss cairn at end of rift
2	3	17.48	353	-11
3	4	3.94	284	-52	;stn 4 is bolt 
4	5	3.94	343	20
5	6	9.49	340	82	;stn 6 is bolt at top of pitch (RHS when looking down)

*end pico2

*equate pico2.6 pico.2
