;waffer - Beyond Hardy

;Date: 23/7/00
;Instruments: Pete Jurd
;Book: Shaggy

;Data entered by Shed on 23/7/00

;data normal bcra grade 5
;from	to	tape	comp	clino

*equate hardy.3 waffer.8

*begin waffer
1	2	11.40	084	+20 	; 1PSS Cairn
2	3	6.80	-	up
3	4	4.30	105	+09
4	5	4.80	089	+20
5	6	4.20	038	+77
6	7	7.20	059	+23
7	8	9.30	062	+84 	; hardy.3 - PSS on Bolt

*end waffer